[project]
	description = A lightweight 2D vector drawing framework using C++ for iOS, Android and Windows. ???C++??????2D????????? iOS?Android?Windows ?????????.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zhang Xin (zhangxin8105)
[access "refs/for/refs/*"]
	read = group user/Zhang Xin (zhangxin8105)
	push = group user/Zhang Xin (zhangxin8105)
	label-Code-Review = -2..+2 group user/Zhang Xin (zhangxin8105)
	label-Verified = -1..+1 group user/Zhang Xin (zhangxin8105)
	rebase = group user/Zhang Xin (zhangxin8105)
	removeReviewer = group user/Zhang Xin (zhangxin8105)
	submit = group user/Zhang Xin (zhangxin8105)
[access "refs/heads/*"]
	read = group user/Zhang Xin (zhangxin8105)
	create = group user/Zhang Xin (zhangxin8105)
	push = +force group user/Zhang Xin (zhangxin8105)
	pushMerge = group user/Zhang Xin (zhangxin8105)
[access "refs/tags/*"]
	push = +force group user/Zhang Xin (zhangxin8105)
	pushTag = group user/Zhang Xin (zhangxin8105)
	pushSignedTag = group user/Zhang Xin (zhangxin8105)
